body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-dropdown-item{
    text-decoration:none;
    color:white;
    margin-left:15px;
    margin-bottom:15px;
    display:block;   
}
.brd-top-bottom {
    border-bottom: solid 1px #a09797;
    padding: 5px 0;
}
.pd-tb5 {
    padding: 5px 0;
}
.mg-tb5{
    margin: 5px 0;
}